body {
    background-color: darkslategrey;
    color: black;
    font-family: Arial, sans-serif;
}

#container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

#listcontent {
    text-align: left;
}

h3 {
    color: cornsilk;
    font-size: 50pt;
}

h4 {
    color: cornsilk;
}

ul#menu li{
    display: inline;
}

#content {

}
